*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(1,1,1,0.5),rgba(1,1,1,0.5)),url(images/teafields.jpg);
    background-size: cover;
    position: relative;
}
.navbar{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
.nav-list{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    
}
.nav-list img{
    width: 2.5cm;
    border: 3px solid black;
    border-radius: 5cm;
}
.nav-list li{
    list-style: none;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.rightside{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content:flex-end;
    padding-right: 1cm;

}

.mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 3px solid black;
    border-radius: 1cm;
    padding: 1cm;
    background: black;
}

.matter1{
    height: 100vh;
    max-width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.secondhalf img{
    width: 80%;
    border: 3px solid white;
    border-radius: 3cm;
    
}
.secondhalf{
    display: block;
    margin: auto;
}
.textbig{
    font-size: 50px;
    padding: 10px;
}

.textsmall{
    font-size: 25px;
    padding: 10px;
}

.btn{
    margin:10px;
    font-size: large;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    color: white;
}
#search{
    height: 25px;
    margin: 3px;
    border-radius: 8px;
}

.buttonSmall{
    height: 28px;
    border-radius: 8px;
    padding: 3px 10px;
    margin: 3px;

}
.matter2{
    height: 45vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.firsthalf2{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    color: white;
    padding: 10px;
    padding: 1cm;

}
.aboutus{
    font-size: 38px;
    display: flex;
    justify-content: center;
    padding: 0.5cm;

}

.intro{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.something{
    font: size 25px;
}

.secondhalf2 img{
    width:200px;
    border: 2px solid white;
    border-radius: 1cm;
    margin: 13px;
}
.mainbox2{
    background-color: black;
    height:fit-content;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}